<div class="wrapper">

  <div class="row mb-2">
    <div class="col-md-2" *ngFor="let item of movies">
      <div class="card flex-md-col mb-4 shadow-sm h-md-250">
        <img class="card-img-right flex-auto d-none d-lg-block" src="/images/movie_placeholder.png" />
        <div class="card-body d-flex flex-column text-center">
          <strong class="d-inline-block mb-2">{{ item.title }}</strong>
          <p>{{ item.blob.spanishGenre }}</p>
        </div>
      </div>

    </div>
  </div>

</div>
